body {
  background: #486573;
}

.keys {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  line-height: 8rem;
  height: 16rem;
}

.keys div {
  font-size: 2.4rem;
  display: inline-block;
  padding: 1rem;
  margin: 0 0.5rem;
  height: 4rem;
  width: 4rem;
  line-height: 3.6rem;
  text-align: center;
  vertical-align: bottom;
  color: white;
  border-style: solid;
  border-width: 0.4rem 0.45rem 0.6rem;
  border-radius: 0.8rem;
  border-color: #99e6bd #64b98c #64b98c #74d2a0;
  background: #7de3ad;
  -moz-transition: all 80ms ease;
  -o-transition: all 80ms ease;
  -webkit-transition: all 80ms ease;
  transition: all 80ms ease;
}

.keys .pressed {
  border-bottom-width: 0.4rem;
  text-shadow: 0 0 10px white;
}
