body {
  background: #486573;
}

.footera{
  position: absolute;
     bottom: 0;
     float: right;
   }

     .center {
       margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
     }


     .center-horizontally {
       display: block;
     margin-left: auto;
     margin-right: auto;



}
